RewriteEngine on
RewriteRule ^$ index.php [L]
RewriteCond $1 !^(index\.php|auth\.http\.php|assets|upload|uploads)
RewriteRule ^(.*)$ index.php/$1 [L]

<FilesMatch "robots\.txt">
Header set X-Robots-Tag "noindex, nofollow"
</FilesMatch> 